.Home {
  width: 100%;
  height: calc(100% - 75px);
  overflow: scroll;
}

.Home::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.Home::-webkit-scrollbar-track{
  background: transparent;
}

.Home::-webkit-scrollbar-thumb {
background-color: #707070;
outline: 1px solid slategrey;
}

.Header {
  font-size: 2.625rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 0;
  position: relative;
  top: 167px;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.625rem;
  letter-spacing: 4px;
  color: white;
  margin-top: 0;
  position: relative;
  top: 167px;
  text-align: center;
}


.ButtonContainer {
  display: inline-block;
  width: auto;
  position: relative;
  top: 282px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  
}

.ButtonContainer li {
  margin-right: 124px;
  margin-left: 0;
}


@media (max-width: 1150px) {

  .ButtonContainer li{
    display: inline-block !important;
  }

}


@media (max-width: 950px) {

  .ButtonContainer li{
    display: block;
    width: 100%;
    margin: 25px auto;
  }

}

@media (max-width: 600px) {

  .Header {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.15rem;
  }

  .ButtonContainer {
    top: 182px;
  }

}